*{
    padding:0px;
    margin:0px;
}
body{
    width:100%;
    height:100vh;
    background-size: 100% 100vh;
    /*background-image: linear-gradient(red,green);*/
    background-image: url(water.mp4);
    display:flex;
    justify-content: center;
    align-items: center;
}
#container{
    display:flex;
    align-items:center;
    justify-content: center;
    width:80%;
    height:80vh;
    background-image:url(backgroundimg.jpg) ;
    background-color: rgba(255,255,255,0.501);
     border-radius:10px;
     position:relative;
     cursor:none;
     box-shadow:2px 2px 5px black;
}
#Time{
    font-size:100px;
    position:absolute;
    top:35vh;
    color:red;
    letter-spacing: 20px;
    text-shadow:2px 2px 2px black -2px -2px -2px black;
}
#Date{
    font-size:60px;
    position:absolute;
    top:25vh;
    color:rgb(136,155,212);
    letter-spacing: 20px;
    text-shadow:2px 2px 2px black;
  
}
#Day{
    font-size:60px;
    position:absolute;
    top:55vh;
    color:rgb(173,212,136);
    letter-spacing: 20px;
    text-shadow:2px 2px 2px black; 
}
#sec{
    font-size:360px;
    position:absolute;
   z-index:-1;
    color:white;
    letter-spacing: 20px;
    text-shadow:2px 2px 2px black; 
}
#greet{
    width:100%;
    height:50vh;
    background-color: white;
    position:absolute;
    box-shadow:5px 5px 5px black;
    border-top:5px groove lawngreen;
    border-bottom:5px groove lawngreen;
    display:flex;
    align-items:center;
    justify-content: center;
    overflow:hidden;
}
#GreetMessage{
    font-size: 60px;
    letter-spacing: 20px;
    text-shadow: 2px 2px 2px black;
    z-index:2;
}
#close{
  z-index:2;
  font-size:40px;
  position:absolute;
  right:30px;
  top:30px;
  cursor:pointer;
  transition:transform 0.2s;
  color:red;  
}
#close:hover{
    transform:rotateZ(180deg);
}
#bigvid{
    position:absolute;
    z-index:0;
    bottom:-280px;
}